/* Reset some default styles */
.create-main {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 40px;
  background: linear-gradient(135deg, #e6e6e6, #f9f9f9); /* Gradient background */
}

.create-container {
  width: 600px;
  margin: 0 auto;
  border-radius: 5px;
  padding: 40px;
  background-color: #fff; /* White background */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 32px;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

.create-section {
  margin-bottom: 20px;
}

.create-section label {
  font-weight: bold;
}

.create-section input[type="text"],
.create-section input[type="email"],
.create-section input[type="date"],
.create-section input[type="tel"],
.create-section textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd; /* Add border */
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  margin-bottom: 15px;
  background-color: #f9f9f9; /* Light background */
}

.create-section input[type="text"]:focus,
.create-section input[type="email"]:focus,
.create-section input[type="date"]:focus,
.create-section input[type="tel"]:focus,
.create-section textarea:focus {
  outline: none;
  border-color: #3498db; /* Blue border on focus */
}

.create-section textarea {
  height: 150px;
}

.create-section button[type="submit"] {
  background: linear-gradient(135deg, #4CAF50, #45A049); /* Gradient background */
  color: white;
  padding: 12px 20px;
  border: 2px solid transparent; /* Reduced border width */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out; /* Added border-color transition */
  font-size: 18px;
}

.create-section button[type="submit"]:hover {
  background: linear-gradient(135deg, #45A049, #4CAF50); /* Gradient background on hover */
  border-color: #4CAF50; /* Change border color on hover */
}


